In [1]:
import pandas as pd

In [2]:
import pandas as pd
heart_disease= pd.read_csv(r"C:/Users/User/Jeslin_data/fulll/brfss2013_part1_full.csv")
print('Read file 1')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (12,15,103,104,106,112,113,114,119,121,122,123,124,126,127,128,131,133,135,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,178,179,180,181,182,183,184,185,186,187,188,189,191,192,193,194,195,196,198,200,201,202,203,204,205,206,207,208,209,210,211,212,213,227,228,229,230,231) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Read file 1

In [3]:
heart_disease.head()

,Var1,X_state,fmonth,idate,imonth,iday,iyear,dispcode,seqno,X_psu,...,X_pastae1,X_lmtact1,X_lmtwrk1,X_lmtscl1,X_rfseat2,X_rfseat3,X_flshot6,X_pneumo2,X_aidtst3,X_age80
0,1,Alabama,January,1092013.0,January,9.0,2013.0,Completed interview,2.013001e+09,2.013001e+09,...,Did not meet both guidelines,Told have arthritis and have limited usual act...,Told have arthritis and have limited work,Told have arthritis and social activities limi...,Always or almost always wear seat belt,Always wear seat belt,NaN,NaN,No,60.0
1,2,Alabama,January,1192013.0,January,19.0,2013.0,Completed interview,2.013001e+09,2.013001e+09,...,Did not meet both guidelines,Not told they have arthritis,Not told they have arthritis,Not told they have arthritis,Always or almost always wear seat belt,Always wear seat belt,NaN,NaN,Yes,50.0
2,3,Alabama,January,1192013.0,January,19.0,2013.0,Completed interview,2.013001e+09,2.013001e+09,...,Did not meet both guidelines,Told have arthritis and have limited usual act...,Told have arthritis and have limited work,Told have arthritis and social activities limi...,Always or almost always wear seat belt,Always wear seat belt,NaN,NaN,Yes,55.0
3,4,Alabama,January,1112013.0,January,11.0,2013.0,Completed interview,2.013001e+09,2.013001e+09,...,Did not meet both guidelines,Not told they have arthritis,Not told they have arthritis,Not told they have arthritis,Always or almost always wear seat belt,Always wear seat belt,NaN,NaN,No,64.0
4,5,Alabama,February,2062013.0,February,6.0,2013.0,Completed interview,2.013001e+09,2.013001e+09,...,Did not meet both guidelines,Not told they have arthritis,Not told they have arthritis,Not told they have arthritis,Always or almost always wear seat belt,Always wear seat belt,No,No,No,66.0

In [4]:
heart_disease.shape

(100000, 331)

In [5]:
 new_data =heart_disease.iloc[:, [19,20, 21,23,27,28,29,32,35,36,40,43,44,48,49,50,51,52,55,56,57,59,61,63,65,68,73,77,82,83,95,96,113,119,133,236,260,293,33]]

In [6]:
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,cvdinfr4
0,Fair,30.0,29.0,Yes,NaN,Yes,Yes,Yes,No,Yes,...,No,Always,No,NaN,Yes,Yes,238.016092,Obese,No physical activity or exercise in last 30 days,No
1,Good,0.0,0.0,Yes,6.0,No,NaN,No,No,No,...,Yes,Always,Yes,NaN,No,No,737.694204,Underweight,Had physical activity or exercise,No
2,Good,3.0,2.0,Yes,9.0,No,NaN,No,No,No,...,No,Always,Yes,NaN,No,No,568.527386,Overweight,No physical activity or exercise in last 30 days,No
3,Very good,2.0,0.0,Yes,8.0,No,NaN,Yes,No,No,...,Yes,Always,No,NaN,No,No,606.976365,Normal weight,Had physical activity or exercise,No
4,Good,10.0,2.0,Yes,6.0,Yes,No,No,No,Yes,...,No,Always,No,NaN,Yes,NaN,629.847064,Obese,No physical activity or exercise in last 30 days,No

In [7]:
new_data=new_data.rename(columns={"cvdinfr4":"Target"})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
0,Fair,30.0,29.0,Yes,NaN,Yes,Yes,Yes,No,Yes,...,No,Always,No,NaN,Yes,Yes,238.016092,Obese,No physical activity or exercise in last 30 days,No
1,Good,0.0,0.0,Yes,6.0,No,NaN,No,No,No,...,Yes,Always,Yes,NaN,No,No,737.694204,Underweight,Had physical activity or exercise,No
2,Good,3.0,2.0,Yes,9.0,No,NaN,No,No,No,...,No,Always,Yes,NaN,No,No,568.527386,Overweight,No physical activity or exercise in last 30 days,No
3,Very good,2.0,0.0,Yes,8.0,No,NaN,Yes,No,No,...,Yes,Always,No,NaN,No,No,606.976365,Normal weight,Had physical activity or exercise,No
4,Good,10.0,2.0,Yes,6.0,Yes,No,No,No,Yes,...,No,Always,No,NaN,Yes,NaN,629.847064,Obese,No physical activity or exercise in last 30 days,No

In [8]:
 new_data.isnull().sum()

genhlth        530
physhlth      2529
menthlth      2034
hlthpln1       407
sleptim1      1497
bphigh4        290
bpmeds       58621
toldhi2      13638
cvdstrk3       330
asthma3        315
chccopd1       603
chckidny       373
diabete3       171
educa          609
employ1        888
income2      14009
weight2       3986
height3       1752
cpdemo1      25745
cpdemo4      44353
internet      1279
sex              2
qlactlm2      3579
blind         3188
diffwalk      3688
smoke100      4078
alcday5       5512
fruitju1      8919
vegetab1      9502
exerany2      8217
seatbelt      9786
flushot6     10061
diabeye      89682
medicare     29747
dradvise     83924
X_llcpwt         2
X_bmi5cat     5194
X_totinda     8218
Target         577
dtype: int64

In [9]:
new_data=new_data.dropna()

In [10]:
new_data.info

<bound method DataFrame.info of          genhlth  physhlth  menthlth hlthpln1  sleptim1 bphigh4 bpmeds  \
74          Poor      30.0       2.0      Yes      10.0     Yes    Yes
402         Fair      14.0      30.0      Yes       6.0     Yes    Yes
848         Poor      15.0       5.0      Yes       6.0     Yes    Yes
1074   Excellent       0.0       0.0      Yes       8.0     Yes    Yes
1077        Fair      30.0      30.0      Yes       3.0     Yes     No
...          ...       ...       ...      ...       ...     ...    ...
62632       Poor       0.0       0.0      Yes       5.0     Yes    Yes
62637       Fair       7.0      10.0      Yes       6.0     Yes    Yes
62650       Fair       0.0       0.0      Yes       7.0     Yes    Yes
62696  Very good       4.0      27.0      Yes       5.0     Yes    Yes
62699  Very good       0.0       0.0      Yes       8.0     Yes    Yes

      toldhi2 cvdstrk3 asthma3  ... exerany2 seatbelt flushot6 diabeye  \
74        Yes       No     Yes  ...      Yes   Always       No     Yes
402       Yes      Yes     Yes  ...      Yes   Always      Yes     Yes
848       Yes       No     Yes  ...       No   Always       No     Yes
1074      Yes       No      No  ...      Yes   Always      Yes      No
1077      Yes      Yes     Yes  ...      Yes   Always      Yes     Yes
...       ...      ...     ...  ...      ...      ...      ...     ...
62632     Yes       No     Yes  ...       No   Always      Yes     Yes
62637      No      Yes      No  ...      Yes   Always      Yes      No
62650     Yes      Yes      No  ...       No   Always       No      No
62696      No       No     Yes  ...       No   Always       No      No
62699      No       No      No  ...       No   Always      Yes      No

      medicare dradvise    X_llcpwt    X_bmi5cat  \
74         Yes      Yes  148.924134        Obese
402        Yes       No   49.505413        Obese
848        Yes      Yes  147.676197        Obese
1074        No       No  181.265523   Overweight
1077        No      Yes  164.525828  Underweight
...        ...      ...         ...          ...
62632      Yes      Yes   79.022373        Obese
62637      Yes      Yes   55.029046   Overweight
62650      Yes      Yes   38.104892        Obese
62696      Yes      Yes   45.492166        Obese
62699       No      Yes   15.422839   Overweight

                                              X_totinda  Target
74                    Had physical activity or exercise      No
402                   Had physical activity or exercise      No
848    No physical activity or exercise in last 30 days      No
1074                  Had physical activity or exercise      No
1077                  Had physical activity or exercise      No
...                                                 ...     ...
62632  No physical activity or exercise in last 30 days      No
62637                 Had physical activity or exercise      No
62650  No physical activity or exercise in last 30 days      No
62696  No physical activity or exercise in last 30 days      No
62699  No physical activity or exercise in last 30 days      No

[434 rows x 39 columns]>

In [11]:
new_data.isnull().sum()

genhlth      0
physhlth     0
menthlth     0
hlthpln1     0
sleptim1     0
bphigh4      0
bpmeds       0
toldhi2      0
cvdstrk3     0
asthma3      0
chccopd1     0
chckidny     0
diabete3     0
educa        0
employ1      0
income2      0
weight2      0
height3      0
cpdemo1      0
cpdemo4      0
internet     0
sex          0
qlactlm2     0
blind        0
diffwalk     0
smoke100     0
alcday5      0
fruitju1     0
vegetab1     0
exerany2     0
seatbelt     0
flushot6     0
diabeye      0
medicare     0
dradvise     0
X_llcpwt     0
X_bmi5cat    0
X_totinda    0
Target       0
dtype: int64

In [12]:
new_data["genhlth"].value_counts()

Good         152
Fair         115
Very good     98
Poor          49
Excellent     20
Name: genhlth, dtype: int64

In [13]:
new_data["physhlth"].value_counts()

0.0     225
30.0     53
2.0      26
5.0      24
3.0      19
1.0      18
10.0     14
7.0      13
4.0       8
15.0      7
20.0      6
25.0      5
14.0      5
6.0       3
12.0      2
8.0       2
21.0      2
24.0      1
29.0      1
Name: physhlth, dtype: int64

In [14]:

new_data["menthlth"].value_counts()

0.0     293
30.0     26
2.0      23
5.0      21
3.0      11
10.0     10
15.0     10
1.0      10
4.0       8
7.0       5
8.0       4
20.0      3
25.0      2
6.0       2
14.0      2
28.0      1
21.0      1
19.0      1
27.0      1
Name: menthlth, dtype: int64

In [15]:
new_data["hlthpln1"].value_counts()

Yes    434
Name: hlthpln1, dtype: int64

In [16]:
new_data["sleptim1"].value_counts()

7.0     114
6.0     113
8.0     113
5.0      35
9.0      23
4.0      15
10.0      8
3.0       4
2.0       3
12.0      3
18.0      2
15.0      1
Name: sleptim1, dtype: int64

In [17]:
new_data["bphigh4"].value_counts()

Yes    434
Name: bphigh4, dtype: int64

In [18]:
new_data["bpmeds"].value_counts()

Yes    411
No      23
Name: bpmeds, dtype: int64

In [19]:

  new_data["bpmeds"] = new_data["bpmeds"].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,Yes,No,Yes,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,Yes,Yes,Yes,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,Yes,No,Yes,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,Yes,No,No,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,Yes,Yes,Yes,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [20]:
new_data["toldhi2"].value_counts()

Yes    313
No     121
Name: toldhi2, dtype: int64

In [21]:
new_data['toldhi2'] = new_data['toldhi2'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,No,Yes,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,Yes,Yes,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,No,Yes,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,No,No,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,Yes,Yes,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [22]:
new_data["cvdstrk3"].value_counts()

No     393
Yes     41
Name: cvdstrk3, dtype: int64

In [23]:
new_data['cvdstrk3'] = new_data['cvdstrk3'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,Yes,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,Yes,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,Yes,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,No,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,Yes,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [24]:
  new_data["asthma3"].value_counts()

No     351
Yes     83
Name: asthma3, dtype: int64

In [25]:
new_data['asthma3'] = new_data['asthma3'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [26]:
new_data["chccopd1"].value_counts()

No     375
Yes     59
Name: chccopd1, dtype: int64

In [27]:
new_data['chccopd1'] = new_data['chccopd1'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [28]:
new_data["chckidny"].value_counts()

No     394
Yes     40
Name: chckidny, dtype: int64

In [29]:
new_data['chckidny'] = new_data['chckidny'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [30]:
new_data["diabete3"].value_counts()

Yes    434
Name: diabete3, dtype: int64

In [31]:
new_data["educa"].value_counts()

College 4 years or more (College graduate)                      165
College 1 year to 3 years (Some college or technical school)    120
Grade 12 or GED (High school graduate)                          118
Grades 9 though 11 (Some high school)                            25
Grades 1 through 8 (Elementary)                                   6
Name: educa, dtype: int64

In [32]:
new_data["employ1"].value_counts()

Retired                             214
Employed for wages                  114
Unable to work                       53
Self-employed                        23
A homemaker                          11
Out of work for 1 year or more       11
Out of work for less than 1 year      7
A student                             1
Name: employ1, dtype: int64

In [33]:

new_data["income2"].value_counts()

$75,000 or more      131
Less than $75,000     71
Less than $50,000     58
Less than $35,000     45
Less than $25,000     41
Less than $20,000     38
Less than $15,000     29
Less than $10,000     21
Name: income2, dtype: int64

In [34]:
new_data["weight2"].value_counts()

210.0    16
220.0    15
170.0    15
250.0    15
180.0    14
         ..
378.0     1
217.0     1
211.0     1
122.0     1
411.0     1
Name: weight2, Length: 131, dtype: int64

In [35]:
new_data["height3"].value_counts()

505.0    43
506.0    42
509.0    39
508.0    38
504.0    36
502.0    35
510.0    32
503.0    31
507.0    31
511.0    23
600.0    22
500.0    15
501.0    15
601.0    10
602.0     9
603.0     4
411.0     4
604.0     2
605.0     2
410.0     1
Name: height3, dtype: int64

In [36]:
new_data["cpdemo1"].value_counts()

Yes    434
Name: cpdemo1, dtype: int64

In [37]:
new_data["cpdemo4"].value_counts()

10.0     56
50.0     53
0.0      45
5.0      43
1.0      43
20.0     30
2.0      25
25.0     17
30.0     17
80.0     13
75.0     12
60.0     10
100.0    10
90.0      7
15.0      7
95.0      7
3.0       6
99.0      5
40.0      5
70.0      4
4.0       3
98.0      3
8.0       2
65.0      2
85.0      2
35.0      1
6.0       1
45.0      1
91.0      1
9.0       1
12.0      1
33.0      1
Name: cpdemo4, dtype: int64

In [38]:
new_data["internet"].value_counts()

Yes    314
No     120
Name: internet, dtype: int64

In [39]:
new_data['internet'] = new_data['internet'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [40]:
new_data["sex"].value_counts()

Female    246
Male      188
Name: sex, dtype: int64

In [41]:
new_data['sex'] = new_data['sex'].map({'Female':1 ,'Male':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [42]:
new_data["qlactlm2"].value_counts()

No     264
Yes    170
Name: qlactlm2, dtype: int64

In [43]:
new_data['qlactlm2'] = new_data['qlactlm2'].map({'No':1 ,'Yes':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [44]:
new_data["blind"].value_counts()

No     401
Yes     33
Name: blind, dtype: int64

In [45]:
new_data['blind'] = new_data['blind'].map({'No':1 ,'Yes':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [46]:
new_data["diffwalk"].value_counts()

No     285
Yes    149
Name: diffwalk, dtype: int64

In [47]:
new_data['diffwalk'] = new_data['diffwalk'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [48]:
new_data["smoke100"].value_counts()

Yes    221
No     213
Name: smoke100, dtype: int64

In [49]:
new_data['smoke100'] = new_data['smoke100'].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,Yes,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,Yes,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,No,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,Yes,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,Yes,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [50]:
new_data["alcday5"].value_counts()

0.0      242
201.0     44
202.0     28
203.0     20
230.0     18
205.0     16
102.0     11
204.0     11
101.0      9
105.0      6
103.0      6
215.0      5
210.0      5
220.0      3
104.0      2
107.0      2
206.0      2
212.0      1
218.0      1
229.0      1
214.0      1
Name: alcday5, dtype: int64

In [51]:
new_data["fruitju1"].value_counts()

0.0      189
101.0     61
201.0     25
301.0     19
202.0     19
302.0     19
203.0     17
102.0     13
310.0     11
303.0     10
305.0      7
330.0      7
320.0      5
103.0      5
207.0      4
315.0      4
204.0      3
205.0      3
308.0      2
300.0      2
307.0      2
325.0      1
306.0      1
210.0      1
206.0      1
314.0      1
304.0      1
110.0      1
Name: fruitju1, dtype: int64

In [52]:
new_data["vegetab1"].value_counts()

101.0    100
202.0     29
203.0     29
102.0     28
330.0     27
204.0     24
310.0     23
205.0     22
320.0     22
201.0     14
315.0     14
302.0     12
312.0      9
301.0      9
325.0      8
303.0      7
304.0      7
305.0      6
206.0      6
207.0      5
0.0        5
103.0      4
308.0      4
307.0      3
104.0      3
328.0      2
306.0      2
300.0      2
327.0      1
214.0      1
345.0      1
390.0      1
340.0      1
210.0      1
107.0      1
329.0      1
Name: vegetab1, dtype: int64

In [53]:
new_data["exerany2"].value_counts()

Yes    286
No     148
Name: exerany2, dtype: int64

In [54]:
new_data["exerany2"] = new_data["exerany2"].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,1,Always,No,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,1,Always,Yes,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,0,Always,No,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,1,Always,Yes,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,1,Always,Yes,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [55]:
new_data["seatbelt"].value_counts()

Always           392
Nearly always     26
Never              6
Seldom             6
Sometimes          4
Name: seatbelt, dtype: int64

In [56]:
new_data["flushot6"].value_counts()

Yes    279
No     155
Name: flushot6, dtype: int64

In [57]:
new_data["flushot6"] = new_data["flushot6"].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,1,Always,0,Yes,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,1,Always,1,Yes,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,0,Always,0,Yes,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,1,Always,1,No,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,1,Always,1,Yes,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [58]:
new_data["seatbelt"].value_counts()

Always           392
Nearly always     26
Never              6
Seldom             6
Sometimes          4
Name: seatbelt, dtype: int64

In [59]:
new_data["diabeye"].value_counts()

No     365
Yes     69
Name: diabeye, dtype: int64

In [60]:
new_data["diabeye"] = new_data["diabeye"].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,1,Always,0,1,Yes,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,1,Always,1,1,Yes,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,0,Always,0,1,Yes,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,1,Always,1,0,No,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,1,Always,1,1,No,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [61]:
new_data["medicare"].value_counts()

Yes    271
No     163
Name: medicare, dtype: int64

In [62]:
new_data["medicare"] = new_data["medicare"].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,1,Always,0,1,1,Yes,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,1,Always,1,1,1,No,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,0,Always,0,1,1,Yes,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,1,Always,1,0,0,No,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,1,Always,1,1,0,Yes,164.525828,Underweight,Had physical activity or exercise,No

In [63]:
new_data["dradvise"].value_counts()

Yes    267
No     167
Name: dradvise, dtype: int64

In [64]:
new_data["dradvise"] = new_data["dradvise"].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,1,Always,0,1,1,1,148.924134,Obese,Had physical activity or exercise,No
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,1,Always,1,1,1,0,49.505413,Obese,Had physical activity or exercise,No
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,0,Always,0,1,1,1,147.676197,Obese,No physical activity or exercise in last 30 days,No
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,1,Always,1,0,0,0,181.265523,Overweight,Had physical activity or exercise,No
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,1,Always,1,1,0,1,164.525828,Underweight,Had physical activity or exercise,No

In [65]:
new_data["X_llcpwt"].value_counts()

19.052446      4
326.024278     3
27.978161      3
76.790336      2
26.467471      2
              ..
662.757816     1
927.587396     1
618.391597     1
1336.195330    1
15.422839      1
Name: X_llcpwt, Length: 393, dtype: int64

In [66]:
new_data["X_bmi5cat"].value_counts()

Obese            242
Overweight       131
Normal weight     59
Underweight        2
Name: X_bmi5cat, dtype: int64

In [67]:
new_data["X_totinda"].value_counts()

Had physical activity or exercise                   286
No physical activity or exercise in last 30 days    148
Name: X_totinda, dtype: int64

In [69]:
new_data["Target"].value_counts()

No     375
Yes     59
Name: Target, dtype: int64

In [70]:
new_data["Target"] = new_data["Target"].map({'Yes':1 ,'No':0})
new_data.head()

,genhlth,physhlth,menthlth,hlthpln1,sleptim1,bphigh4,bpmeds,toldhi2,cvdstrk3,asthma3,...,exerany2,seatbelt,flushot6,diabeye,medicare,dradvise,X_llcpwt,X_bmi5cat,X_totinda,Target
74,Poor,30.0,2.0,Yes,10.0,Yes,1,1,0,1,...,1,Always,0,1,1,1,148.924134,Obese,Had physical activity or exercise,0
402,Fair,14.0,30.0,Yes,6.0,Yes,1,1,1,1,...,1,Always,1,1,1,0,49.505413,Obese,Had physical activity or exercise,0
848,Poor,15.0,5.0,Yes,6.0,Yes,1,1,0,1,...,0,Always,0,1,1,1,147.676197,Obese,No physical activity or exercise in last 30 days,0
1074,Excellent,0.0,0.0,Yes,8.0,Yes,1,1,0,0,...,1,Always,1,0,0,0,181.265523,Overweight,Had physical activity or exercise,0
1077,Fair,30.0,30.0,Yes,3.0,Yes,0,1,1,1,...,1,Always,1,1,0,1,164.525828,Underweight,Had physical activity or exercise,0

In [ ]:
#dummies using andas to convert categorial to one hot coding

In [ ]:
new_data=pd.get_dummies(new_data,columns=["genhlth","physhlth","menthlth","sleptim1","educa","employ1","income2","weight2","height3","cpdemo4","alcday5","fruitju1","vegetab1","seatbelt","X_llcpwt","X_bmi5cat","X_totinda"])

In [ ]:
new_data.head()

In [ ]:
#numerical col
#categorical col
#to find numrical data set and catergorical
#https://www.youtube.com/watch?v=oRRoy74_GsU

In [73]:
#importing library files

from sklearn.model_selection import train_test_split

In [75]:
###splitting data
new_data_train, new_data_test = train_test_split(new_data,test_size =0.2, random_state =42)

In [77]:
len(new_data_train), len(new_data_test)

(347, 87)

In [78]:
##scaling the numerical colums
##we need to find numnerical column


from sklearn.preprocessing import StandardScaler

In [80]:
scaler =StandardScaler()
#def get_features_and_target_array(new_data,numericals_cos, cat_col,scaler)
#x_numeric_scaled=scaler.fit_transform(new_data[numerical_cols])
#x_categorical= new_data[cat_cols].to_numpy()
#x=np.hstack(x_categorical,x_numeric_scaled)
#y=new_data["Target"]
#return x,y

SyntaxError: 'return' outside function (Temp/ipykernel_16136/3177303567.py, line 7)

In [ ]:
print(heart_disease['genhlth'].unique)
print(heart_disease['physhlth'].unique)
print(heart_disease['menthlth'].unique)
print(heart_disease['hlthpln1'].unique)


##can add rest